{% extends "base.html" %}

{% block content %}
<h1>Serviciu ales:</h1>
<h4>{{ service.name }}</h4>
<h6>{{ service.time }} min, {{ service.price }} RON</h6>
<h1>Specialist ales:</h1>
<img src="/media/{{employee.photo}}" class="rounded-circle" width="55px" height="54px">
<h5>{{ employee.name }}</h5>
<h1>Data aleasa:</h1>
<h5>{{ date }}</h5>
<h1>Alege ora:</h1>
{% for time_slot in time_slots %}
    <a href="/salon/{{ salon.id }}/service/{{ service.id }}/employee/{{ employee.id }}/date/{{ date }}/hour/{{ time_slot }}:00">{{ time_slot }}:00</a>
    <hr>
{% endfor %}
{% endblock %}