{% extends "base.html" %}

{% block content %}
<h1>Serviciu ales:</h1>
<h4>{{ service.name }}</h4>
<h6>{{ service.time }} min, {{ service.price }} RON</h6>
<h1>Alege specialist</h1>
{% for employee in employees %}
<!--Grid System Bootstrap-->
<div class="row">
    <div class="col">
        <img src="/media/{{employee.photo}}" class="rounded-circle" width="55px" height="54px">
        <h5>{{ employee.name }}</h5>
    </div>
    <div class="col">
        <a class="btn btn-primary" href="/salon/{{salon.id}}/service/{{service.id}}/employee/{{employee.id}}" role="button">Alege</a>
    </div>
    <hr>
</div>
{% endfor %}
{% endblock %}